*{
    margin: 0px;
    padding: 0px;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: beige;
    padding: 20px 30px;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 40px 20%;
}
.outerDiv{
    width: 350;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    padding: 15px 10px;
    border-radius: 30px;
}

.price_cart{
     display: flex;
     align-items: center;
    gap: 30px;
}

a{
    text-decoration: none;
    color: black;
} 

#cartItems{
    display:flex;
    flex-wrap:wrap;
    gap:20px;
}

#billSummary{
    width:250px;
    border:2px solid black;
    padding:20px;
    margin:20px;
}

button{
    background:black;
    color:white;
    padding:10px 20px;
    border:none;
    cursor:pointer;
}